! XTerm

XTerm*faceName:          RobotoMono Nerd Font Mono
XTerm*faceSize: 11


URxvt.font: xft:RobotoMono Nerd Font Mono:size=10 :antialias=true:autohint=false
URxvt.boldFont: xft:RobotoMono Nerd Font Mono:Bold:size=10 :antialias=true:autohint=false
URxvt.geometry: 		72x18
URxvt*letterSpace: 	    0
URxvt.lineSpace: 		0
URxvt*internalBorder:   24
URxvt*externalBorder:   0
URxvt*depth:            32
URxvt*saveline:         2000
URxvt*termName:         rxvt-256color
URxvt*iso14755:         false
URxvt*scrollBar:        false
URxvt*scrollBar_right:  false
URxvt.copyCommand:      xclip -i -selection clipboard
URxvt.pasteCommand:     xclip -o -selection clipboard
URxvt.keysym.Shift-Up:	command:\033]720;1\007
URxvt.keysym.Shift-Down:command:\033]721;1\007
URxvt.urlLauncher:      firefox
URxvt.underlineURLs:    true
URxvt.urlButton:        1
URxvt*buffered:         false          
URxvt.urgentOnBell: 	True



! special
*.foreground:   #b7b8b9
*.background:   #0c0d0e
*.cursorColor:  #b7b8b9

! black
*.color0:       #0c0d0e
*.color8:       #737475

! red
*.color1:       #e31a1c
*.color9:       #e31a1c

! green
*.color2:       #31a354
*.color10:      #31a354

! yellow
*.color3:       #dca060
*.color11:      #dca060

! blue
*.color4:       #3182bd
*.color12:      #3182bd

! magenta
*.color5:       #756bb1
*.color13:      #756bb1

! cyan
*.color6:       #80b1d3
*.color14:      #80b1d3

! white
*.color7:       #b7b8b9
*.color15:      #fcfdfe










